rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // DANGER: Allows anyone to upload/download. Use only for development.
      allow read, write: if true;
    }
  }
}